## To Call the LLM we are using GROQ
GROQ_API_KEY=

## To Generate embeddings we are using JINA
JINA_API_KEY = 

## Langsmith configuration details
LANGSMITH_TRACING=
LANGSMITH_ENDPOINT=
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=


## Qdrant Connection settings 
QDRANT_API_KEY=
QDRANT_CLUSTER_ENDPOINT= 
QDRANT_COLLECTION_NAME=

## Portkey Gateway configuration 
PORTKEY_API_KEY = 
PORTKEY_PROVIDER =
LLM_EVALUATOR_PROVIDER = 


